<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
    <filter>
        <blacklist>
            <directory suffix=".php">.</directory>
        </blacklist>

        <whitelist>
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../build/logs/coverage-html" charset="UTF-8" yui="true" highlight="true" />
        <log type="coverage-clover" target="../build/logs/clover.xml" />
    </logging>
    <testsuites>
        <testsuite name="zf1-navigation-view-helper-bootstrap">
            <directory>./library</directory>
        </testsuite>
    </testsuites>
</phpunit>
